@{
    ViewBag.Title = "Contact";
}
<br />
<br />
<h3 style="font-weight:bolder;">@ViewBag.Title</h3>
<address>
    <strong> Call Us :</strong> 0243883472 / 0244465641 <br /><br />
    <strong> Whatsapp Only:</strong>  0243883472 / 0244465641 <br /><br />
    @*<strong> Email         :</strong>    info@faithag <br /><br />*@
</address>
@*<address>
    <strong>Directions to all Regional offices in Ghana:</strong>   <a href="https://gra.gov.gh/index.php/office-locations/" target="_blank">Regional Offices</a><br />
</address>*@