@{
    ViewBag.Title = "Home Page";
}
<br />
<br /><br /><br />
<div class="jumbotron jumbotron-fluid" style=" background:Url('../Images/BackgroundImage.png' ) no-repeat;  background-size:100%; height:100%;  ">

    <br />
    <br />  <br />  <br />  <br />  <br /> <br />
    <br />  <br />  <br />  <br />  <br />
    <br /> <br /> 
</div>

<div class="row">
    <div class="col-md-3">
        <h3 style="font-weight:bolder;">Church Services</h3>
        @*<p>
            The Taxpayer Identification Number (TIN) is a unique Identification number issued to taxpayers and potential taxpayers.
            Getting a TIN is free. You must get it if you should be paying tax. It is an offence if you don’t.
        </p>*@
        <p><a class="btn btn-primary" href="https://gra.gov.gh/index.php/tin/get-a-tin/"  target="_blank" disabled="disabled">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3 style="font-weight:bolder;">Sunday Sch. Classes</h3>
        @*<p>The Customs Division is responsible for the collection of Import Duty, Import VAT, Export Duty, Petroleum Tax, Import Excise and other taxes, levies and fees.</p>*@
        <p><a class="btn btn-primary" href="https://gra.gov.gh/index.php/customs-the-basics/" target="_blank" disabled="disabled">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3 style="font-weight:bolder;">Evening Services</h3>
        @*<p>Income Tax is a tax charged on a person’s income from employment, business and investment. Persons such as employees, self-employed, persons in partnership, shareholders and ...</p>*@
        <p><a class="btn btn-primary" href="https://gra.gov.gh/index.php/income-tax/income-tax-basics/" target="_blank" disabled="disabled">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3 style="font-weight:bolder;">Departmental Groups</h3>
        @*<p>Value Added Tax (VAT) is a tax that is charged or paid when you buy goods or services. </p>*@
        <p><a class="btn btn-primary" href="https://gra.gov.gh/index.php/vat-the-basics/" target="_blank" disabled="disabled">Learn more &raquo;</a></p>
    </div>
</div>